contracts/cache/
contracts/out/
contracts/broadcast/*
contracts/.env

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vscode/*
